@import url('https://fonts.googleapis.com/css?family=Open+Sans');
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Open Sans", helvetica, sans-serif;
}

.container{
  background: #a2f8 ;
  display: block;
  position: relative;
  width: 100%;
  padding: 0;
  /*min-width: 1250px;*/
}
.top-bar {
  max-height: auto;
}

.logo {
  float: left;
  color: blue;
  margin-left: 20px;
  margin-right: 60px;
}
.logo span{
  color: yellow;
}
nav ul {
  margin: 0px;
  margin-top: 7px;
  padding: 0px;
  list-style: none;
  /*display: block;*/
  /*padding-top: 0;
  margin-right: 50;
  /*float: right;*/
}
nav ul li{
  float: left;
  width: 120px;
  height: 30px;
  background-color: rgba(0, 0, 0, 0.5);
  /*opacity: .8;*/
  line-height: 30px;
  text-align: center;
  font-size: 17px;
  /*color: blue;*/
  margin-right: 2px;
  margin-bottom: 2px;
  /*position: relative;*/
  /*display: block;*/
}
nav ul li ul{
  margin-top: 0px;
}

nav ul li a{
  text-decoration: none;
  color: white;
  display: block;
}
nav ul li a:hover{
  background: yellow;
}
nav ul li ul li{
  display: none;
}
nav ul li:hover ul li{
  display: block;
}

.group::before,
.group::after{
  content: "";
  display: table;
}

.group::after{
  clear: both;
}
.group {
  zoom: 1;
}
