@import url('https://fonts.googleapis.com/css?family=Butcherman');
*{
  padding: 0;
  margin: 0;
  background-color: #0000;
  box-sizing: border-box;

}
/*.headerpic{
  background: url("images/header.jpg");
}*/
/*.headerpic img{
  size: cover;*/
.container{
  background: #ccc;
  display: grid;
}
h1 {
  font-family: "Butcherman", sans-serif, serif;
  color: green;
  text-align: center;
}
.hotel{
  color: purple;
  margin-bottom: -25px;
}

.SocialMedia{
  float: right;
  }
.SocialMedia ul{
  margin: 0;
  padding: 0;
}
.SocialMedia li{
  display: inline;
  background-color: green;
  padding: 0;
  margin: 10px;
}
.nav-bar ul{
  padding: 0;
  margin: 0;
  border: solid black 2px;
  color: white;
  background: black;
  padding: 0 300px;
}
.nav-bar li{
  display: inline;
  padding: 0 10px;
  text-transform: uppercase;
  font-size: 15px;
}
